# Compruebo ficheros de K generados en PEST
PEST guarda las k calibradas en dos ficheros:
* El .array
* El fichero de input de modflow 6

Aqu√≠ compruebo que los valores grabados son iguales (que lo son)

In [ ]:
import pandas as pd
from pathlib import Path
import shutil

In [5]:
file_k_npf = r'E:\LSGB\20231117_JCUNVRS\gwf\calibrations\kx.csv'
k_npf = pd.read_csv(file_k_npf,header=0)
k_npf.head()

   layer  cell  idomain              x             y        kx
0      0    31        1  639467.335014  4.257605e+06  16.04445
1      0    32        1  640467.335014  4.257605e+06  16.38689
2      0    33        1  641467.335014  4.257605e+06  15.85134
3      0    34        1  642467.335014  4.257605e+06  15.30914
4      0    68        1  638467.335014  4.256605e+06  15.17480

In [26]:
k_npf.loc[ k_npf['cell'] == 113 ]

    layer  cell  idomain              x             y        kx
19      0   113        1  645467.335014  4.255605e+06  14.48904

In [19]:
file_array = r'E:\LSGB\20231117_JCUNVRS\gwf\gwf3_pest1\arrays\sc.Kx_1.arrays'

# Nuevo nombre
file_path = Path(file_array)
new_filename = file_path.stem.replace('.', '_', 1)+'.csv'
parent = Path(file_array).parent
new_filepath = parent.joinpath(new_filename)
shutil.copy2(file_array, new_filepath)

k_array = pd.read_csv(new_filepath,header=None, names=['k'])
k_array.head()

           k
0  10.623410
1  10.258310
2   9.898505
3   9.546693
4   9.205826

In [27]:
k_array.loc[[113]]

            k
113  14.48904